/* Light theme */
body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark theme */
html.dark body {
  background: #0a0a0a !important;
  color: #ededed !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ai-response {
  transition: opacity 0.1s ease-in-out;
}

.ai-response:not(:last-child) {
  margin-bottom: 0.5rem;
}

main {
  min-height: calc(100vh - 64px);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Chat layout */
.chat-layout-container {
  height: calc(100vh - 64px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chat-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Dark mode select dropdown options */
html.dark select option {
  background-color: #000 !important;
  color: #fff !important;
}
